<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Laptops</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/style.css">

        <link href="/ionicons.css" rel="stylesheet">
        <script>
         {{#restore_scroll}}
         window.addEventListener("load", () => {
             let top_storage = localStorage.getItem("scroll-pos");
             if (top_storage !== null) {
                 document.body.scrollTop = parseInt(top_storage, 10);
             }
         });
         {{/restore_scroll}}

         window.addEventListener("beforeunload", () => {
             localStorage.setItem("scroll-pos", document.body.scrollTop);
             console.log("saved " + document.body.scrollTop);
         });
        </script>

        <style>
         nav {
             margin: 2em;
         }
         body {
             width: 100%;
             display: flex;
             min-height: 100vh;
             flex-direction: column;
         }
         main {
             flex: 1 0 auto;
         }
         footer {
             margin-top: 2em;
             margin-bottom: 3em;
         }
         h4 {
             margin-top: 0.8em;
         }
         #show_params {
             display: none;
         }
         #show_params:checked ~ #params {
             display: block !important;
         }
         #params{
             display: none;
         }
         #show_params:checked ~ h4 > #params_hide {
             display: inline-block !important;
         }
         #params_hide {
             display: none;
         }
         #show_params:checked ~ h4 > #params_show {
             display: none !important;
         }

         #barstack_laptoplife_shown {
             display: none;
         }
         #barstack_laptoplife_shown ~ .bar-stack-laptoplife,
         #barstack_laptoplife_shown ~ * .bar-stack-laptoplife {
             display: none;
         }
         #barstack_laptoplife_shown:checked ~ .bar-stack-laptoplife,
         #barstack_laptoplife_shown:checked ~ * .bar-stack-laptoplife {
             display: block !important;
         }
         #barstack_laptoplife_shown ~ .bar-stack-laptoplife-hidden,
         #barstack_laptoplife_shown ~ * .bar-stack-laptoplife-hidden {
             display: block;
         }
         #barstack_laptoplife_shown:checked ~ .bar-stack-laptoplife-hidden,
         #barstack_laptoplife_shown:checked ~ * .bar-stack-laptoplife-hidden {
             display: none !important;
         }

         #barstack_money_shown {
             display: none;
         }
         #barstack_money_shown ~ .bar-stack-money,
         #barstack_money_shown ~ * .bar-stack-money {
             display: none;
         }
         #barstack_money_shown:checked ~ .bar-stack-money,
         #barstack_money_shown:checked ~ * .bar-stack-money {
             display: block !important;
         }
         #barstack_money_shown ~ .bar-stack-money-hidden,
         #barstack_money_shown ~ * .bar-stack-money-hidden {
             display: block;
         }
         #barstack_money_shown:checked ~ .bar-stack-money-hidden,
         #barstack_money_shown:checked ~ * .bar-stack-money-hidden {
             display: none !important;
         }

         #barstack_broken_shown {
             display: none;
         }
         #barstack_broken_shown ~ .bar-stack-broken,
         #barstack_broken_shown ~ * .bar-stack-broken {
             display: none;
         }
         #barstack_broken_shown:checked ~ .bar-stack-broken,
         #barstack_broken_shown:checked ~ * .bar-stack-broken {
             display: block !important;
         }
         #barstack_broken_shown ~ .bar-stack-broken-hidden,
         #barstack_broken_shown ~ * .bar-stack-broken-hidden {
             display: block;
         }
         #barstack_broken_shown:checked ~ .bar-stack-broken-hidden,
         #barstack_broken_shown:checked ~ * .bar-stack-broken-hidden {
             display: none !important;
         }

         #imprint_shown {
             display: none;
         }
         #imprint {
             display: none;
         }
         #imprint_shown:checked ~ #imprint {
             display: block !important;
         }

         #end_round_shown {
             display: none;
         }
         #end_round_shown:checked ~ #end_round_show {
             display: none;
         }
         #end_round {
             display: none;
         }
         #end_round_shown:checked ~ #end_round {
             display: inline-block !important;
         }
         #end_round_toast {
             display: none;
         }
         #end_round_shown:checked ~ #end_round_toast {
             display: block !important;
         }
         .save-price {
             color: #2faa3f;
             border-color: #2faa3f;
         }
         .save-price:hover {
             background-color: #d4f4d9;
             border-color: #2faa3f;
         }
         div:focus-within ~ .save-price {
             color: #fff;
             border-color: #2faa3f;
             background-color: #32b643;
         }
         .hide {
             display: none;
         }
         .slider {
             -webkit-appearance: none;
         }
         .objective-icon {
             align-content: space-around;
             align-items: center;
             height: 2rem;
             width: 2rem;
             font-size: 1.2rem;
             color: #fff;
             border-radius: 1rem;
             display: -ms-flexbox;
             display: flex;
             -ms-flex-align: center;
             -ms-flex-line-pack: distribute;
             justify-content: center;
         }
         .objective-icon img {
             height: 100%;
             width: 100%;
         }
         .objective-description {
             white-space: normal !important;
             line-height: 1.1 !important;
         }
         .bar-stack {
             border-radius: .1rem;
             overflow: hidden;
         }
         .bar-stack .bar {
             height: .5rem;
         }
         .bar-stack .bar, .bar-stack .bar .bar-item {
             border-radius: 0;
         }
         .bar-stack .divider:last-child {
             display:none;
         }
        </style>
    </head>
    <body class="container">
        <header class="columns mt-2">
            <div class="column col-mx-auto col-9 col-xl-10 col-lg-11">
                <span class="float-right mt-2">
                    <a href="/new" class="btn btn-link">
                        Neue Runde
                    </a>
                </span>
                <h2>
                    Laptops
                </h2>
                <div class="divider"></div>
            </div>
        </header>
        <main class="columns">
            <div class="column col-mx-auto col-9 col-xl-10 col-lg-11">
                <div class="container">
                    <div class="columns">
                        {{#running}}
                        <h2>Jahr {{year}} | {{money}} <i class="icon ion-md-cash"></i></h2>

                        {{#is_tutorial}}
                        <div class="column col-12 toast toast-success">
                            <p>
                                Willkommen zum Tutorial!
                            </p>
                            <p>
                                Hier oben siehst du das aktuelle Jahr ({{year}}), den Fortschritt bist zum letzten Jahr ({{ending_year}}), dein aktuelles Geld ({{money}}) und die aktuellen Ziele.
                            </p>
                        </div>
                        {{/is_tutorial}}

                        {{/running}}

                        {{#final_stats}}
                        <h2>Auswertung <i class="icon ion-md-stats"></i></h2>
                        {{#is_tutorial}}
                        <div class="column col-12 toast toast-success">
                            <p>
                                Hier siehst du eine Auswertung dieser Runde.
                                Vergleiche die Ergebnisse von verschiedenen Runden/Szenarien!
                                Mit den Buttons rechts unter den Leisten kannst du Leisten von anderen Runden im selben Szenario einblenden.
                            </p>
                            <p>
                                Wenn du Ziele erreicht hast, kannst du dir mit einem Klick auf den Button daneben ein Badge abholen.
                            </p>
                        </div>
                        {{/is_tutorial}}
                        {{/final_stats}}

                        {{^new_session}}
                        <div class="column col-12 my-2">
                            <ul class="step">
                                {{#years_list}}
                                <li class="step-item
                                           {{#current}}
                                           active
                                           {{/current}}
                                           ">
                                    <a href="#" class="tooltip" data-tooltip="{{year}}">
                                        {{#first}}
                                        <span class="hide-sm">{{year}}</span>
                                        {{/first}}
                                        {{#last}}
                                        <span class="hide-sm">{{year}}</span>
                                        {{/last}}
                                    </a>
                                </li>
                                {{/years_list}}
                                <li class="step-item
                                           {{#final_stats}}
                                           active
                                           {{/final_stats}}
                                           ">
                                    <a href="#" class="tooltip" data-tooltip="Auswertung">
                                        <span class="hide-sm">Auswertung</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {{/new_session}}

                        {{#show_objectives}}
                        <div class="column col-12 my-2">
                            <div class="columns">
                                {{#objectives}}
                                <div class="column col-4 col-md-6 col-sm-12">
                                    <div class="tile">
                                        <div class="tile-icon">
                                            {{#icon}}
                                            <div class="objective-icon
                                                        {{#achieved}}
                                                        bg-success
                                                        {{/achieved}}
                                                        {{^achieved}}
                                                        bg-primary
                                                        {{/achieved}}
                                                        ">
                                                <img src="{{icon}}">
                                            </div>
                                            {{/icon}}
                                        </div>
                                        <div class="tile-content">
                                            <div class="tile-title">
                                                {{name}}
                                                {{#achieved}}
                                                {{#redeem_code}}
                                                <span class="label label-success mb-1 tooltip" data-tooltip="auf deinem Profil einlösbar" style="line-break: anywhere">
                                                    <i class="icon ion-md-code"></i>
                                                    <code>{{redeem_code}}</code>
                                                </span>
                                                {{#redeem_url}}
                                                <a href="{{redeem_url}}" class="btn btn-sm mb-1" target="_blank" rel="noopener noreferrer">
                                                    Im Webinterface einlösen
                                                    <i class="icon ion-md-open"></i>
                                                </a>

                                                {{/redeem_url}}
                                                <a href="#" onClick="navigator.clipboard.writeText('{{redeem_code}}').then(function(){this.children[0].classList.replace('ion-md-clipboard', 'ion-md-checkmark')}.bind(this))" class="float-right btn btn-sm mb-1">
                                                    <i class="icon ion-md-clipboard"></i>
                                                    Kopieren
                                                </a>
                                                {{/redeem_code}}
                                                {{^redeem_code}}
                                                <a href="redeemcodes" class="btn btn-success btn-sm mb-1">
                                                    <i class="icon ion-md-ribbon"></i>
                                                    Badge abholen
                                                </a>
                                                {{/redeem_code}}
                                                {{/achieved}}
                                            </div>
                                            <div class="bar bar-sm mb-1">
                                                <div class="bar-item {{#achieved}}bg-success{{/achieved}}" role="progressbar" style="width:{{progress_percent}}%"></div>
                                            </div>
                                            <small class="tile-subtitle objective-description">
                                                {{description}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                {{/objectives}}
                            </div>
                        </div>
                        {{/show_objectives}}

                        {{#running}}
                        {{#accounts}}
                        <div class="column col-12 my-2">
                            <h4 class="mb-0">Jahresabschluss {{year}}</h4>
                            {{#is_tutorial}}
                            <div class="toast toast-success my-1">
                                Hier siehst du eine Zusammenfassung des vergangenen Jahres:
                                Die Einnahmen in der oberen Leiste und die Ausgaben in der unteren.
                            </div>
                            {{/is_tutorial}}

                            <div class="columns mb-2">
                                <div class="column col-6 col-md-12">
                                    <div class="bar mt-2">
                                        <div class="bar-item" style="background:#00a000;width: {{sales_bar}}%">{{sales}}</div>
                                    </div>
                                    <div class="bar mb-2">
                                        <div class="bar-item" style="background:#b70bb4;width:{{development_bar}}%">{{development}}</div>
                                        <div class="bar-item" style="background:#166c72;width:{{production_bar}}%">{{production}}</div>
                                        <div class="bar-item" style="background:#330b5e;width:{{warranty_bar}}%">{{warranty}}</div>
                                    </div>
                                </div>

                                <div class="column col-6 col-md-12">
                                    <div class="chip">
                                        <figure class="avatar avatar-sm" data-initial="" style="background:#00a000"></figure>
                                        Einnahmen: Verkäufe ({{sales}})
                                    </div>
                                    <div class="chip">
                                        <figure class="avatar avatar-sm" data-initial="" style="background:#b70bb4"></figure>
                                        Ausgaben: Entwicklung ({{development}})
                                    </div>
                                    <div class="chip">
                                        <figure class="avatar avatar-sm" data-initial="" style="background:#166c72"></figure>
                                        Ausgaben: Produktion ({{production}})
                                    </div>
                                    <div class="chip">
                                        <figure class="avatar avatar-sm" data-initial="" style="background:#330b5e"></figure>
                                        Ausgaben: Garantie ({{warranty}})
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/accounts}}

                        <form action="dosth" method="get" class="column col-12">
                            <button type="submit" class="hide" name="firstbtn" value="yes"></button>
                            <div class="columns">
                                {{#models}}
                                <a name="bp_{{name_safe}}"></a>
                                <div class="column col-12 card my-2">
                                    <div class="card-header">
                                        <div class="card-title h4">
                                            <strong style="font-size: 1.5em">
                                                <i class="icon ion-md-pricetag"></i> {{name}}
                                            </strong>
                                        </div>
                                        {{#is_tutorial}}
                                        <div class="toast toast-success">
                                            Produziere mit dem blauen Button Laptops dieses Modells.
                                            Du solltest außerdem den Verkaufspreis senken: Der Standardpreis ist den meisten Kunden zu teuer.
                                        </div>
                                        {{/is_tutorial}}
                                    </div>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="columns">
                                                <div class="column col-2 hide-xl">
                                                    <i class="icon ion-md-laptop" style="font-size: 8em;"></i>
                                                </div>
                                                <div class="column col-5 col-xl-6 col-md-12">
                                                    <div class="columns">
                                                        <div class="column col-6">
                                                            <span class="text-gray">
                                                                <i class="icon ion-md-time"></i> Modelljahr:
                                                            </span>
                                                        </div>
                                                        <div class="column col-6">
                                                            {{year}}
                                                        </div>
                                                    </div>

                                                    <div class="columns">
                                                        <div class="column col-6 hide-sm">
                                                            <span class="text-gray">
                                                                <i class="icon ion-md-cog"></i> Haltbarkeit:
                                                            </span>
                                                        </div>
                                                        <div class="column col-6 col-sm-12 text-center" style="line-height:0.9">
                                                            <span class="show-sm">
                                                                <span class="text-gray">
                                                                    <i class="icon ion-md-cog"></i> Haltbarkeit:
                                                                </span>
                                                                {{durability_percent}}&thinsp;%
                                                            </span>
                                                            <span class="hide-sm">
                                                                {{durability_percent}}&thinsp;%
                                                            </span>
                                                            <div class="bar bar-sm">
                                                                <div class="bar-item" style="width: {{durability_percent}}%"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="columns">
                                                        <div class="column col-6 hide-sm">
                                                            <span class="text-gray">
                                                                <i class="icon ion-md-rocket"></i> Leistung:
                                                            </span>
                                                        </div>
                                                        <div class="column col-6 col-sm-12 text-center" style="line-height:0.9">
                                                            <span class="show-sm">
                                                                <span class="text-gray">
                                                                    <i class="icon ion-md-rocket"></i> Leistung:
                                                                </span>
                                                                {{gflops}}&thinsp;GFLOPS
                                                            </span>
                                                            <span class="hide-sm">
                                                                {{gflops}}&thinsp;GFLOPS
                                                            </span>
                                                            <div class="bar bar-sm">
                                                                <div class="bar-item" style="width: {{bar_gflops}}%"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="columns">
                                                        <div class="column col-6 hide-sm">
                                                            <span class="text-gray">
                                                                <i class="icon ion-md-construct"></i> Produktionskosten:
                                                            </span>
                                                        </div>
                                                        <div class="column col-6 col-sm-12 text-center" style="line-height:0.9">
                                                            <span class="show-sm">
                                                                <span class="text-gray">
                                                                    <i class="icon ion-md-construct"></i> Produktionskosten:
                                                                </span>
                                                                {{cost}}&thinsp;<i class="icon ion-md-cash"></i>
                                                            </span>
                                                            <span class="hide-sm">
                                                                {{cost}}&thinsp;<i class="icon ion-md-cash"></i>
                                                            </span>
                                                            <div class="bar bar-sm">
                                                                <div class="bar-item" style="width: {{bar_cost}}%"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="show-md colum col-12 my-2"></div>
                                                <div class="column col-5 col-xl-6 col-md-12">
                                                    <div class="columns my-1">
                                                        <div class="column col-6 col-sm-12">
                                                            <span class="text-gray">
                                                                <i class="icon ion-md-cart"></i> Verkauft |
                                                                <i class="icon ion-md-cube"></i> Lager
                                                            </span>
                                                        </div>
                                                        <div class="column col-6 col-sm-12">
                                                            <div class="bar">
                                                                <div class="bar-item" style="width: {{bar_stacked_sold}}%; background: #00a000;">{{sold}}</div>
                                                                <div class="bar-item" style="width: {{bar_stacked_stock}}%;">{{stock}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="columns my-1">
                                                        <div class="column col-6 col-sm-12">
                                                            <i class="icon ion-md-construct"></i> Produzieren
                                                        </div>
                                                        <div class="column col-6 col-sm-12">
                                                            <button
                                                                type="submit"
                                                                name="producebatch"
                                                                value="{{name_safe}}"
                                                                class="btn btn-sm btn-primary
                                                                      {{^can_produce}}
                                                                      disabled
                                                                      {{/can_produce}}
                                                                      "
                                                                style="width:100%">
                                                                <i class="icon ion-md-construct"></i>
                                                                {{batch_size}} Stück ({{batch_cost}} <i class="icon ion-md-cash"></i>)
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="columns my-1">
                                                        <div class="column col-6 col-sm-12">
                                                            <i class="icon ion-md-cart"></i> Verkaufspreis
                                                        </div>
                                                        <div class="column col-6 col-sm-12">
                                                            <div class="has-icon-right">
                                                                <input
                                                                    class="form-input input-sm text-right
                                                                           {{^is_stocked}}
                                                                           disabled
                                                                           {{/is_stocked}}
                                                                           "
                                                                    type="number"
                                                                    value="{{price}}"
                                                                    name="{{name_safe}}_price">
                                                                <i class="form-icon icon ion-md-cash"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/models}}
                                {{^models}}
                                <div class="column col-12 empty">
                                    <div class="empty-icon h2">
                                        <i class="icon ion-md-construct"></i>
                                    </div>
                                    <p class="empty-title h5">
                                        Noch keine Modelle vorhanden.
                                    </p>
                                    <p class="empty-subtitle">
                                        Entwickle <a href="#development">weiter unten</a> eins!
                                    </p>
                                </div>
                                {{/models}}

                                <a name="development"></a>
                                <div class="column col-12 card" style="margin-top:2em">
                                    <div class="card-header">
                                        <div class="card-title h4">
                                            Entwicklung
                                        </div>
                                        {{#is_tutorial}}
                                        <div class="toast toast-success">
                                            <p>
                                                Bevor du Laptops verkaufen kannst, musst du hier ein Modell entwickeln.
                                                Nimm mit den Reglern Einfluss auf das neue Modell!
                                            </p>
                                            <p>
                                                Irgendwann werden deine alten Modelle zu Ladenhütern.
                                                Dann solltest du hier wieder ein neues Modell entwickeln.
                                            </p>
                                        </div>
                                        {{/is_tutorial}}
                                    </div>

                                    
                                    <div class="card-body">
                                        <div class="columns">
                                            <div class="column col-6 col-sm-12 text-center">
                                                <span class="float-left"><small>anfällig</small></span>
                                                <label for="durability">
                                                    Haltbarkeit
                                                </label>
                                                <span class="float-right"><small>robust</small></span>
                                                <input id="durability" class="slider" type="range" name="durability" min="100" max="200" step="1" value="100">
                                            </div>
                                            <div class="column col-6 col-sm-12 text-center">
                                                <span class="float-left"><small>langsam</small></span>
                                                <label for="performance">
                                                    Leistung
                                                </label>
                                                <span class="float-right"><small>performant</small></span>
                                                <input id="performance" class="slider" type="range" name="performance" min="100" max="200" step="1" value="100">
                                            </div>
                                            <div class="column col-12 my-2 text-right">
                                                <button type="submit"
                                                        name="develop"
                                                        value="yes"
                                                        class="btn
                                                              btn-primary
                                                              right
                                                              {{^bp_can_develop}}
                                                              disabled
                                                              {{/bp_can_develop}}">
                                                    Modell entwickeln ({{bp_cost}} <i class="icon ion-md-cash"></i>)
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {{#is_advancable}}
                                {{#is_tutorial}}
                                <div class="column col-12 toast toast-success mt-2">
                                    <p>
                                        Nachdem du alles passend eingestellt hast, klicke auf diesen Button.
                                    </p>
                                    <p>
                                        Erst dann läuft die Simulation und Laptops werden verkauft!
                                    </p>
                                </div>
                                {{/is_tutorial}}
                                {{/is_advancable}}

                                <button
                                    name="advanceyear"
                                    value="yes"
                                    class="btn btn-primary btn-block
                                          {{^is_advancable}}
                                          disabled
                                          {{/is_advancable}}"
                                    style="border-radius:1em;height:2.4rem;line-height:2.4em;margin-top:2rem">
                                    Nächstes Jahr
                                    {{#is_final_year}}
                                    (zur Auswertung)
                                    {{/is_final_year}}
                                </button>
                            </div>
                        </form>
                        {{/running}}

                        {{#final_stats}}
                        <div class="container">
                            <h4>Graphen</h4>

                            <div style="width:100%" class="text-center">
                                <span>Einnahmen/Ausgaben</span>
                            </div>

                            <div class="bar mt-2">
                                <div class="bar-item" style="background:#00a000;width: {{bar_income_sales}}%">{{total_sales_earnings}}</div>
                            </div>
                            <div class="bar mb-2">
                                <div class="bar-item" style="background:#b70bb4;width:{{bar_spending_blueprints}}%">{{total_bp_cost}}</div>
                                <div class="bar-item" style="background:#166c72;width:{{bar_spending_production}}%">{{total_production_cost}}</div>
                                <div class="bar-item" style="background:#330b5e;width:{{bar_spending_warranty}}%">{{total_warranty_cost}}</div>
                            </div>

                            <input type="checkbox" autocomplete="on" id="barstack_money_shown">

                            <div class="col-12 columns m-0">
                                <div class="chip">
                                    <figure class="avatar avatar-sm" data-initial="" style="background:#00a000"></figure>
                                    Einnahmen: Verkäufe ({{total_sales_earnings}})
                                </div>
                                <div class="chip">
                                    <figure class="avatar avatar-sm" data-initial="" style="background:#b70bb4"></figure>
                                    Ausgaben: Entwicklung ({{total_bp_cost}})
                                </div>
                                <div class="chip">
                                    <figure class="avatar avatar-sm" data-initial="" style="background:#166c72"></figure>
                                    Ausgaben: Produktion ({{total_production_cost}})
                                </div>
                                <div class="chip">
                                    <figure class="avatar avatar-sm" data-initial="" style="background:#330b5e"></figure>
                                    Ausgaben: Garantie ({{total_warranty_cost}})
                                </div>
                                <div class="column col-12 m-0 p-0"></div>
                                <p class="mb-1">
                                    Saldo (abzüglich Startkapital):
                                    <b>
                                        {{net_total}}
                                    </b>
                                    <i class="icon ion-md-cash"></i>
                                </p>
                                <div class="column col-ml-auto p-0">
                                    <label class="float-right btn bar-stack-money-hidden" for="barstack_money_shown">
                                        <i class="icon ion-md-eye"></i>
                                        Ergebnisse im Vergleich
                                    </label>
                                    <label class="float-right btn bar-stack-money" for="barstack_money_shown">
                                        <i class="icon ion-md-eye-off"></i>
                                        Ergebnisse im Vergleich
                                    </label>
                                </div>
                            </div>

                            <div class="bar-stack my-2 bar-stack-money">
                                {{#comparison_stats}}
                                <div class="bar">
                                    <div class="bar-item" style="background:#00a000;width: {{bar_income_sales}}%"></div>
                                </div>
                                <div class="bar">
                                    <div class="bar-item" style="background:#b70bb4;width:{{bar_spending_blueprints}}%"></div>
                                    <div class="bar-item" style="background:#166c72;width:{{bar_spending_production}}%"></div>
                                    <div class="bar-item" style="background:#330b5e;width:{{bar_spending_warranty}}%"></div>
                                </div>
                                <div class="col-12 divider m-0"></div>
                                {{/comparison_stats}}
                            </div>

                            <div style="width:100%" class="text-center mt-2">
                                <span>Produzierte Laptops</span>
                            </div>
                            <div class="bar my-2">
                                <div class="bar-item" style="background:#00a000;width: {{bar_laptops_sold}}%">{{total_sales_cnt}}</div>
                                <div class="bar-item" style="background:#60d660;width: {{bar_laptops_stock}}%">{{total_stock}}</div>
                            </div>
                            <div class="chip">
                                <figure class="avatar avatar-sm" data-initial="" style="background:#00a000"> </figure>
                                verkauft ({{total_sales_cnt}})
                            </div>
                            <div class="chip">
                                <figure class="avatar avatar-sm" data-initial="" style="background:#60d660"></figure>
                                unverkauft ({{total_stock}})
                            </div>

                            <div style="width:100%" class="text-center">
                                <span>Lebensende von Laptops</span>
                            </div>

                            <div class="bar my-2">
                                <div class="bar-item" style="background:#f28510;width:{{bar_laptoplife_broken}}%">{{total_broken_cnt}}</div>
                                <div class="bar-item" style="background:#ea1c0e;width:{{bar_laptoplife_performance}}%">{{total_thrown_out_performance_cnt}}</div>
                                <div class="bar-item" style="background:#ead80e;width:{{bar_laptoplife_in_use}}%">{{total_in_use}}</div>
                            </div>

                            <input type="checkbox" autocomplete="on" id="barstack_laptoplife_shown">

                            <div class="col-12 columns m-0">
                                <div class="chip">
                                    <figure class="avatar avatar-sm" data-initial="" style="background:#f28510"></figure>
                                    Defekt ({{total_broken_cnt}})
                                </div>
                                <div class="chip">
                                    <figure class="avatar avatar-sm" data-initial="" style="background:#ea1c0e"></figure>
                                    zu langsam ({{total_thrown_out_performance_cnt}})
                                </div>
                                <div class="chip">
                                    <figure class="avatar avatar-sm" data-initial="" style="background:#ead80e"></figure>
                                    in Benutzung ({{total_in_use}})
                                </div>

                                <div class="column col-ml-auto p-0">
                                    <label class="float-right btn bar-stack-laptoplife-hidden" for="barstack_laptoplife_shown">
                                        <i class="icon ion-md-eye"></i>
                                        Ergebnisse im Vergleich
                                    </label>
                                    <label class="float-right btn bar-stack-laptoplife" for="barstack_laptoplife_shown">
                                        <i class="icon ion-md-eye-off"></i>
                                        Ergebnisse im Vergleich
                                    </label>
                                </div>
                            </div>

                            <div class="bar-stack my-2 bar-stack-laptoplife">
                                {{#comparison_stats}}
                                <div class="bar">
                                    <div class="bar-item" style="background:#f28510;width:{{bar_laptoplife_broken}}%"></div>
                                    <div class="bar-item" style="background:#ea1c0e;width:{{bar_laptoplife_performance}}%"></div>
                                    <div class="bar-item" style="background:#ead80e;width:{{bar_laptoplife_in_use}}%"></div>
                                </div>
                                <div class="col-12 divider m-0"></div>
                                {{/comparison_stats}}
                            </div>

                            <div style="width:100%" class="text-center">
                                <span>Defekte Laptops</span>
                            </div>

                            <div class="bar my-2">
                                <div class="bar-item" style="background:#0e2bea;width:{{bar_broken_warranty}}%">{{total_warranty_cnt}}</div>
                                <div class="bar-item" style="background:#0e8bea;width:{{bar_broken_other}}%">{{total_broken_no_warranty}}</div>
                            </div>

                            <input type="checkbox" autocomplete="on" id="barstack_broken_shown">

                            <div class="col-12 columns m-0">
                                <div class="chip">
                                    <figure class="avatar avatar-sm" data-initial="" style="background:#0e2bea"></figure>
                                    Garantiefall ({{total_warranty_cnt}})
                                </div>
                                <div class="chip">
                                    <figure class="avatar avatar-sm" data-initial="" style="background:#0e8bea"></figure>
                                    außerhalb Garantiedauer ({{total_broken_no_warranty}})
                                </div>

                                <div class="column col-ml-auto p-0">
                                    <label class="btn float-right bar-stack-broken-hidden" for="barstack_broken_shown">
                                        <i class="icon ion-md-eye"></i>
                                        Ergebnisse im Vergleich
                                    </label>
                                    <label class="btn float-right bar-stack-broken" for="barstack_broken_shown">
                                        <i class="icon ion-md-eye-off"></i>
                                        Ergebnisse im Vergleich
                                    </label>
                                </div>
                            </div>

                            <div class="bar-stack my-2 bar-stack-broken">
                                {{#comparison_stats}}
                                <div class="bar">
                                    <div class="bar-item" style="background:#0e2bea;width:{{bar_broken_warranty}}%"></div>
                                    <div class="bar-item" style="background:#0e8bea;width:{{bar_broken_other}}%"></div>
                                </div>
                                <div class="col-12 divider m-0"></div>
                                {{/comparison_stats}}
                            </div>


                            <div class="card container" style="margin-top:2em">
                                <div class="card-header">
                                    <div class="card-title h4">
                                        Statistiken
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Größe</th>
                                                <th>Wert</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Restbetrag</td>
                                                <td>{{money}}</td>
                                            </tr>
                                            <tr>
                                                <td>Gesamtumsatz</td>
                                                <td>{{total_sales_earnings}}</td>
                                            </tr>
                                            <tr>
                                                <td>Entwickelte Modelle</td>
                                                <td>{{total_bp_cnt}}</td>
                                            </tr>
                                            <tr>
                                                <td>Versorgung (Anteil der Nutzer und Zeit mit Laptop)</td>
                                                <td>{{avg_supply_percentage}}&thinsp;%</td>
                                            </tr>
                                            <tr>
                                                <td>Durchschnittliche Nutzungsdauer (in Jahren)</td>
                                                <td>{{avg_usage_years}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            {{#is_tutorial}}
                            <div class="toast toast-success mt-2">
                                <p>
                                    Hattest du nur Glück oder kommt immer das selbe Ergebnis raus?
                                    Probiere es direkt nochmal!
                                </p>
                                <p>
                                    Wirklich spannend ist aber erst der Vergleich mit anderen Szenarien.
                                </p>
                            </div>
                            {{/is_tutorial}}

                            <div class="container columns p-0" style="margin-right: -.8rem">
                                <div class="col col-8 col-sm-12 col-md-6 p-2">
                                    <a href="again" class="btn btn-primary btn-block">
                                        <i class="icon ion-md-repeat"></i>
                                        selbes Szenario nochmal spielen
                                    </a>
                                </div>
                                <div class="col col-4 col-sm-12 col-md-6 p-2">
                                    <a href="/new" class="btn btn-block">
                                        anderes Szenario spielen
                                        <i class="icon ion-md-arrow-dropright"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/final_stats}}

                        {{^hide_params}}
                        <input id="show_params" type="checkbox">
                        <h4>
                            Parameter
                            <label for="show_params" id="params_show" class="btn btn-action" style="padding-top: 9px">
                                <i class="icon ion-md-eye"></i>
                            </label>
                            <label for="show_params" id="params_hide" class="btn btn-action" style="padding-top: 9px">
                                <i class="icon ion-md-eye-off"></i>
                            </label>
                        </h4>

                        <div id="params" class="column col-12 card">
                            <div class="card-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Garantiedauer</td>
                                            <td>{{params.warranty_years}} Jahre</td>
                                        </tr>
                                        <tr>
                                            <td>Moorsches Wachstum</td>
                                            <td>{{params.moores_months}} Monate</td>
                                        </tr>
                                        <tr>
                                            <td>Durchschnittlicher Maximaler Preis pro Kunde</td>
                                            <td>
                                                {{params.customer_avg_price}}
                                                <i class="icon ion-md-cash"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Kosten für Entwicklung</td>
                                            <td>
                                                {{params.bp_cost}}
                                                <i class="icon ion-md-cash"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Startkapital</td>
                                            <td>
                                                {{params.starting_money}}
                                                <i class="icon ion-md-cash"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Durchschnittliche Minimalperformance</td>
                                            <td>
                                                {{params.accepted_performance_avg_percent}}&thinsp;%
                                                der üblichen Performance
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{/hide_params}}

                        {{#new_session}}
                        <div class="container">
                            <div class="columns">
                                <div class="column col-12 container">
                                    <p>
                                        Seit Jahren und Jahrzehnten häuft die Menschheit immer mehr Elektroschrott an.
                                        Dieses Planspiel stellt dich an den Anfang der Elektronik-Produktion und fragt: Welchen Einfluss haben Hersteller·innen? Welchen Gesetze? Welchen andere Umstände?
                                    </p>
                                    <p>
                                        Wähle ein Szenrio aus und fang an Laptops zu bauen!
                                        Nach {{years_per_round}} Jahren kriegst du eine Übersicht und kannst selbst bewerten, ob du ein·e gute·r oder sogar umweltfreundliche·r Hersteller·in warst.
                                        Probiere ein anderes Szenario aus und vergleiche:
                                        War diese Runde auch umweltfreundlich?
                                        Hast du mehr oder weniger Gewinn gemacht?
                                        Hast du mehr Kund·innen mit Laptops versorgen können?
                                        Wurden deine Geräte länger genutzt?
                                    </p>
                                    <p>
                                        Spoiler: Um das Elektroschrott-Problem in den Griff zu bekommen, reichen Erweiterungen von Gewährleistungs- oder Garantiefristen bei weitem nicht aus.
                                        Was ausreichen könnte, und wie die Ergebnisse interpretiert werden könnten diskutieren wir gerne mit dir.
                                    </p>
                                </div>
                                <h4 class="column col-12 my-2">
                                    Szenarien
                                </h4>
                                {{#scenarios}}
                                <div class="column p-2 {{#first}}col-12{{/first}}{{^first}}col-4 col-md-12 col-lg-6{{/first}}">
                                    <div class="card" style="height:100%">
                                        <div class="card-header h4">
                                            {{name}}
                                        </div>
                                        <div class="card-body">
                                            {{description}}
                                            <br>
                                            <i class="icon ion-md-ribbon"></i>
                                            Badges:
                                            {{#objectives}}
                                            <span class="chip">
                                                {{#icon}}
                                                <span class="avatar avatar-sm" style="display:inline-flex">
                                                    <img src="{{icon}}" style="height:100%; width:100%">
                                                </span>
                                                {{/icon}}
                                                {{name}}
                                            </span>
                                            {{/objectives}}
                                        </div>
                                        <div class="card-footer">
                                            <a class="btn btn-primary" href="/newsession?index={{index}}">
                                                Szenario {{name}} starten
                                                <i class="icon ion-md-play" style="margin-left:.2em"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{#first}}
                                <p class="column col-12 mt-2">
                                    Als erstes "echtes" Szenario empfehlen wir "Turing".
                                    Davor wärmstens das Tutorial.
                                </p>
                                {{/first}}
                                {{/scenarios}}

                                
                                <div class="column col-12"></div>

                                {{#default_params}}
                                <div class="column col-6 col-md-12 col-lg-4">
                                    <h4 style="margin-top:1.2em">
                                        Benutzerdefiniertes Szenario
                                    </h4>
                                    <p>
                                        Hier kannst du die äußeren Umstände ganz genau einstellen.
                                        Nur Badges gibt's dafür nicht.
                                    </p>
                                </div>

                                <div class="column col-6 col-md-12 col-lg-8">
                                    <div class="card" style="margin-top:0.8em">
                                        <form action="/newcustomsession" method="get">
                                            <div class="card-body container">
                                                <div class="form-group column col-12">
                                                    <label for="param_warranty_years">Garantiedauer (in Jahren)</label>
                                                    <input class="form-input" type="number" id="param_warranty_years"  name="param_warranty_years" value="{{warranty_years}}">

                                                    <label for="param_moores_months">Moores Wachstum (in Monaten)</label>
                                                    <input class="form-input" type="number" id="param_moores_months"  name="param_moores_months" value="{{moores_months}}">

                                                    <label for="param_customer_avg_price">Durchschnittlicher Maximaler Preis pro Kunde</label>
                                                    <input class="form-input" type="number" id="param_customer_avg_price"  name="param_customer_avg_price" value="{{customer_avg_price}}">

                                                    <label for="param_bp_cost">Kosten für Entwicklung</label>
                                                    <input class="form-input" type="number" id="param_bp_cost"  name="param_bp_cost" value="{{bp_cost}}">

                                                    <label for="param_starting_money">Startkapital</label>
                                                    <input class="form-input" type="number" id="param_starting_money"  name="param_starting_money" value="{{starting_money}}">

                                                    <div style="width:100%;margin-top:.4em" class="text-center">
                                                        <span class="float-left"><small>0&thinsp;%</small></span>
                                                        <label for="param_accepted_performance_avg">Durchschnittliche Minimalperformance</label>
                                                        <span class="float-right"><small>150&thinsp;%</small></span>
                                                        <input class="slider" type="range" id="param_accepted_performance_avg" name="param_accepted_performance_avg" value="{{accepted_performance_avg}}" min="0" max="1.5" step="0.01">
                                                    </div>

                                                </div>
                                                <div class="card-footer">
                                                    <div class="text-right" style="width:100%">
                                                        <button class="btn" type="submit">
                                                            Runde Starten
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {{/default_params}}
                            </div>
                        </div>
                        {{/new_session}}
                    </div>
                </div>
            </div>
        </main>
        <footer class="columns">
            <div class="column col-mx-auto col-9 col-xl-10 col-lg-11">
                <div class="divider"></div>

                <p>
                    Sämtliche während der Verbindung anfallenden Daten werden ausschließlich zur Anzeige der Webseite genutzt.
                    Darüber hinaus findet keine Speicherung statt.
                </p>

                <p>
                    Die Zuordnung mehrerer Aufrufe zu einer Runde erfolgt über URLs, es werden keinerlei Cookies gesetzt.
                    Die Daten zu eine Runde bleiben für maximal 30&thinsp;min nach der letzten Interaktion erhalten.
                </p>

                {{#imprint}}
                <input type="checkbox" autocomplete="off" id="imprint_shown">
                <div id="imprint" class="toast toast-primary col-12 mb-2">
                    <label for="imprint_shown" class="btn btn-clear float-right"></label>
                    <pre>{{imprint}}</pre>
                </div>
                <label class="btn btn-link" for="imprint_shown">
                    zum Kleingedruckten
                </label>
                {{/imprint}}

                <p>
                    Dies ist freie Software, der Quellcode ist <a href="https://codeberg.org/tropf/bubsim/">hier</a> einsehbar.
                </p>

                <div class="text-right">
                    <p>
                        bubsim-{{version}}
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
